In [ ]:
#Exercise 1: Create a Jupyter Notebook, called DataScienceEcosystem.ipynb

In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# DataScience Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
    1.Python
    2.Java
    3.SQL

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|GitHub|
|Python|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
print(hours)

3.3333333333333335

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives

***Objectives:***

* Python
* Java
* SQL

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Yuxiang (Shawn) Chu